@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap');

body {background-color: cadetblue;}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

#mainheader {
    background-color: grey;
}

body .banner .banner-info p {
    display: flex;
    flex-direction: right;
    margin-bottom: 10;
    background-color: rgb(29, 29, 51);
    justify-content: center;
}

nav {
    height: 60px;
    width: 80%;
    margin: 0 auto 20px;
}

nav h1 {
    text-transform: uppercase;
    color: whitesmoke;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: row end;
    color: whitesmoke;
    cursor: pointer;
}

nav ul li:nth-child(1) {
    flex-grow: 2;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

nav img {
}

nav button {
    padding: 5px 10px;
    font-size: 1.3em;
    font-family: 'Poppins';
    background-color: inherit;
    border: 3px solid rgb(28, 201, 28);
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}

header nav button:hover {
        background-color: rgb(29, 165, 52);
        color: black;
      }

.banner .banner-info {
    width: 100%;
    flex-shrink: 1;
}

.banner .banner-info h1 {
    margin: 30;
    font-size: 4em;
    width: 80%;
    padding: 10px 1% 30px 1%;
}

.banner .banner-info p {
    margin: 30;
    font-size: 1.5em;
    width: 80%;
    padding: 10px 1% 10px 1%;
    color: whitesmoke;
}

.banner .banner-info button {
    padding: 5px 10px;
    font-size: 1.3em;
    font-family: 'Poppins';
    background-color: inherit;
    border: 3px solid rgb(28, 201, 28);
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

.banner .banner-info button:hover {
    background-color: rgb(29, 165, 52);
    color: black;
}

.main .banner-info button {
    background-color: inherit;
    color: whitesmoke;
    border: 3px solid rgb(28, 201, 28);
}

.main .banner-info .banner-details {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main .banner-info .banner-details .banner-detail {
    margin: 0 20px 20px 0;
    border-radius: 50%;
}

.main .banner-info .banner-details .banner-detail:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.main .banner-info .banner-details .banner-detail img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.main .banner-info .banner-details .banner-detail h5 {
    text-align: center;
}

.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.main{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.hats-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(107, 95, 95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    padding-right: .1rem;
}

.hats-row h5 {
    margin: 0;
    font-size: larger;
    padding-left: 3em;
}

.hats-row p {
    margin: 0;
    font-size: medium;
    padding-left: 3.6em;
}

.hats-row > div{
    flex-grow: 2;
    padding-left: .5rem;
}

.hats-row > small{
    flex-shrink: 3;
    font-size: larger;
}

.hats-row > button {
    flex-shrink: 1;
    margin: 3em;
}

.hats-row > button {
    padding: 5px 10px;
    font-size: 1.3em;
    font-family: 'Poppins';
    background-color: inherit;
    border: 3px solid rgb(28, 201, 28);
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

.hats-row img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    padding: 20px;
}

.hats-row button:hover {
    background-color: rgb(29, 165, 52);
    color: black;
}

.hats-row button {
    background-color: inherit;
    color: whitesmoke;
    border: 3px solid rgb(28, 201, 28);
}

/*Footer*/

footer {
    margin: 0;
    padding: 15px;
    padding-top: 2em;
    background-color: black;
    text-align: center;
}

footer .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .footer-columns h3 {
    font-size: large;
}

footer .footer-note {
    text-align: right;
    font-size: x-small;
}

/* Contact */

article {
    display: flex;
    width: 75%;
}

main h2 {
    font-size: large;
    text-align: center;
}

.input-group {
margin-bottom: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
padding: 10px;
border: solid 1px black;
border-radius: 2px;
width: 200%;
color: black;
}

label {
font-weight: 600;
color: whitesmoke;
}

input[type="reset"] {
border: solid 1px rgb(28, 201, 28);
background-color: inherit;
border-radius: 10px;
padding: 10px;
text-decoration: underline;
cursor: pointer;
}

input[type="submit"] {
border: solid 1px rgb(28, 201, 28);
background-color: inherit;
border-radius: 10px;
padding: 10px;
text-decoration: underline;
margin: 4em;
cursor: pointer;
}

/* Shop */

header h2 {
    font-size: xx-large;
    text-align: center;
}

section .Hats img{ 
    width: 20%;
    margin: 5%;
    border-radius: 50%;
}

section .Hats .columns {
    margin: 0;
    padding: 15px;
    padding-top: 0.5em;
    background-color: rgb(71, 71, 141);
    text-align: left;
    font-size: medium;
}

section .Hats .title {
    color: whitesmoke;
    font-weight: 600;
    padding: 25px;
}

section .Hats .price {
    color: whitesmoke;
    text-align: end;
}

section .Hats p {
    margin: 0;
    padding: 25px;
    padding-top: 0.5em;
    background-color:rgb(27, 27, 58);
    text-align: left;
    font-size: medium;
}

section .Hats button {   
        padding: 5px 10px;
        font-size: 1.3em;
        font-family: 'Poppins';
        background-color: inherit;
        border: 5px solid rgb(28, 201, 28);
        border-radius: 5px;
        color: whitesmoke;
        cursor: pointer;
        transition: color 0.5s;
        text-decoration: underline;
}

section .Hats .title {
    font-size: 50px;
    text-align: left;
}

script {
    display: flex;
}
