@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap');

body {
    background-color: cadetblue;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
}

header nav {
    padding: 2px 3% 0px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    margin: 0;
    text-transform: uppercase;
    color: whitesmoke;
}

header nav .navtitles {
    display: flex;
    align-items: center;
}

header nav .navtitles p {
    margin: 0 15px 0 0;
    color: whitesmoke;
}

header nav .navtitles p {
    cursor: pointer;
    color: rgb(180, 243, 6);
}

header nav .nav-titles button {
    padding: 5px 15px;
    font-size: 1.2em;
    font-family: 'Poppins';
    background-color: inherit;
    border: 1px solid rgb(180, 243, 6);
